header {
    display:none;
}

ul#top-scores {
    font-size:.8em;
}

div#api-key-container,div#form-container {
    position:absolute;
    top:0;
    left:5px;
}

div#form-container {
    margin-right:auto;
    margin-left:0;
    text-align:center;
}

div#api-key-container {
}

div#api-key-container label {
}

div#top-scores-container {
    margin-top:100px;
}   

input#demerit {
    display:block;
    font-size:2em;
    margin-top:3em;
}

div#message {
    margin-top:10px;
    color:white;
    font-size:1em;
}

div#reasons {
    margin-left:150px;
    margin-top:40px;
    font-size:10px;
    width:240px;
}
