html,body {
    margin:0px;
    background-color:#65526B;
    font-family:'helvetica neue', helvetica;
    height:100%;
    width:100%;
}

header {
    text-align:right;
}

div#form-container {
    margin-right:auto;
    margin-left:300px;
    text-align:center;
}

div#api-key-container {
    width:200px;
    position:relative;
    text-align:left;
}

div#api-key-container label {
    display:block;
    color:white;
}

input.api-key {
    padding:0px;
    font-size:1.5em;
    height:40px;
    width:200px;
}

div#errors {
    color:tomato;
}

div#demerit-container {
    text-align:left;
}

input#demerit {
    font-size:3em;
}

div#message {
    margin-top:10px;
    color:white;
    font-size:2em;
}

div#top-scores-container {
    position:absolute;
    top:0px;
    left:0px;
    margin-right:10px;
}   

div#demerit-header {
    color:#8A9B0F;
    margin-left:2px;
    font-size:2em;
    font-family:courier;
}

ul#top-scores {
    list-style-type: none;
    font-size:1.5em;
    color:#9B7FA6;
    margin:0;
    margin-left:10px;
    padding:0;
}

ul#top-scores li a {
    color:#9B7FA6;
    text-decoration:none;
    cursor:pointer;
}

div#todo {
    position:absolute;
    bottom:10px;
    right:0;
    color:white;
    font-size:.85em;
}

button#api-key-submit {
    background:black url(../images/btn.png) no-repeat;
    text-indent:-999em;
    border: 0;
    cursor: pointer;
    height: 32px !important;
    overflow: hidden;
    position: absolute;
    right: 3px;
    text-indent: -999em;
    top: 25px;
    width: 32px;
}

div#api-key-container button:hover { background-position: 0 -32px; }

ul.demerits {
   list-style-type:none;  
   margin:0;
   padding:0;
}

ul.demerits li {
    color:navajowhite;
}

div#reasons {
    margin-top:20px;
    width:300px;
}
