{% extends 'layout.html' %}
{% block body %}
<div id="top-scores-container">
</div>

<div id="form-container">
    <form action="/api/demerit/create" method="post">
    <div id="demerit-container">
        <input type="hidden" name="api_key" value="{{ request.cookies['api_key'] }}" />
        <input type="hidden" name="link_users" value="1" />
        <input type="hidden" name="as_html" value="1" />
        <select id="to-user" class="required" name="to_user">
            <option />
        </select>
        <button type="submit" id="demerit">DEMERIT</button>
        <div id="message"></div>
    </div>
    </form>
</div>

<div id="todo">
    todo: public-facing list of demerits. optional demerit reasons. demerit history. demerit analytics (!)
</div>
{% endblock %}
