<div id="form-container-{{demerit.id}}">
	<div id="excuse-container">
	<form action="/api/excuse/create" method="POST" id="excuseForm-{{demerit.id}}" >
	<!--<span>{{ demerit.id }}</span>-->
		<input type="hidden" name="demerit_id" value="{{ demerit.id }}" />
 		<div class="row">
			<input type="text" name="excuse" class="required" id="note"/>
		</div>
		<div class="row">
			<button type="button" id="excuse-submit-button-{{demerit.id}}" class="submit">EXCUSE</button>
		</div>
		<div id="excuses">
		</div>
	</form>
	</div>
</div>