{% extends 'layout.html' %}
{% block body %}
<div id="top-scores-container">
</div>

<div id="form-container">
    <form action="/api/login" method="post">
    <div id="api-key-container">
        <label for="api_key">API Key:</label> 
        <input type="password" class="api-key" name="api_key" />
        <button type="submit" id="api-key-submit">DO IT</button>
        <div id="errors"></div>
        <div id="reasons"></div>
        <div id="excuses"></div>
    </div>
    </form>
</div>
{% endblock %}
