<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" media="screen,print" href="/static/css/style.css"> 
  <link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/static/css/mobile.css" type="text/css" rel="stylesheet" />
  <script src="/static/js/jquery-1.6.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="http://jambalaya:8081/target/target-script-min.js#anonymous"></script>
</head>
<body data-controller="{{ controller }}" data-action="{{ action }}">
  <header>
    <img src="/static/images/sad_trombone_waveform.png" />
  </header>
  {% block body %}{% endblock %}
</body>
</html>
